{% extends "layout.html" %} {% block title %}BananaScanning{% endblock %} {%
block content %}
<section
  class="flex flex-col gap-2 w-full bg-white rounded-xl shadow-lg mx-auto overflow-hidden"
>
  <div
    class="bg-white flex flex-row justify-between h-fit py-2 md:py-4 px-4 md:px-8 text-sm gap-2 w-full min-h-screen items-center relative"
  >
    <div class="w-full md:w-[50%] flex flex-col gap-4 z-10 bg-transparent">
      <div class="text-5xl font-bold">Selamat Datang di BanaScan</div>
      <div class="text-xl">
        Sistem Klasifikasi Kesegaran Pisang Berbasis Deep Learning
      </div>
      <a
        class="inline-flex h-10 w-auto items-center justify-center rounded-md bg-[#2f9fd1] text-white px-4 text-sm font-medium transition-colors hover:text-[#2f9fd1] hover:bg-white border border-[#2f9fd1] cursor-pointer w-fit"
        href="/scan"
      >
        Mulai Sekarang
      </a>
      <div class="flex flex-row gap-2 items-center">
        <input type="checkbox" id="checkbox" class="bg-[#2f9fd1]" />
        <label for="checkbox" class="text-black">Aktifkan Suara Panduan</label>
      </div>
    </div>
    <div class="hidden md:flex w-[50%] flex-row items-center justify-center">
      <img
        src="{{ url_for('static', filename='logo.png') }}"
        alt="Logo"
        class="w-[70%] h-auto object-cover"
      />
    </div>
    <div
      class="w-full md:w-[50%] flex flex-col items-center md:relative md:top-0 md:left-0 md:transform-none absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 md:hidden"
    >
      <img
        src="{{ url_for('static', filename='logo.png') }}"
        alt="Logo"
        class="w-[70%] h-auto object-cover"
      />
    </div>
  </div>
  <div
    class="bg-[#f0f7fd] flex flex-col md:flex-row md:justify-between h-fit py-2 md:py-4 px-4 md:px-12 text-sm gap-2 w-full min-h-screen items-center relative justify-center md:justify-start gap-12 md:gap-0"
  >
    <div class="w-full md:w-[70%] flex flex-col gap-4 z-10 bg-transparent">
      <div class="text-5xl font-bold">Tentang Sistem</div>
      <div class="text-md">
        BanaScan adalah sistem AI yang menggunakan algoritma CNN untuk
        mengklasifikasikan kesegaran buah pisang dengan menganalisis citra
        kulitnya secara otomatis dan akurat.
      </div>
    </div>
    <div
      class="flex w-full md:w-[30%] flex-col items-end justify-center gap-2 px-12"
    >
      <div class="text-black font-semibold text-2xl">BanaScan</div>
      <a class="text-[#2f9fd1]" href="/about"
        >Pelajari Selengkapnya &rightarrow;</a
      >
    </div>
  </div>
  <div
    class="bg-white flex flex-row justify-between h-auto py-2 md:py-4 px-4 md:px-8 text-sm gap-2 w-full py-20 items-center relative"
  >
    <div class="w-full flex flex-col gap-4 my-20">
      <div class="text-4xl font-bold">Cara Kerja</div>
      <div class="flex flex-row gap-2 flex-wrap items-center justify-center">
        <div class="flex flex-col gap-2 items-center">
          <div class="p-4 rounded-lg bg-[#f0f7fd]">
            <img
              src="{{ url_for('static', filename='step-1.png') }}"
              alt=""
              class="w-12 h-12 md:w-16 md:h-16 object-cover"
            />
          </div>
          <p class="text-sm">Gambar</p>
        </div>
        <img
          src="{{ url_for('static', filename='arrow.png') }}"
          class="w-8 h-8 object-cover mb-8"
        />
        <div class="flex flex-col gap-2 items-center">
          <div class="p-4 rounded-lg bg-[#f0f7fd]">
            <img
              src="{{ url_for('static', filename='step-2.png') }}"
              alt=""
              class="w-12 h-12 md:w-16 md:h-16 object-cover"
            />
          </div>
          <p class="text-sm">Model CNN</p>
        </div>
        <img
          src="{{ url_for('static', filename='arrow.png') }}"
          class="w-8 h-8 object-cover mb-8"
        />
        <div class="flex flex-col gap-2 items-center">
          <div class="p-4 rounded-lg bg-[#f0f7fd]">
            <img
              src="{{ url_for('static', filename='step-3.png') }}"
              alt=""
              class="w-12 h-12 md:w-16 md:h-16 object-cover"
            />
          </div>
          <p class="text-sm">Hasil Klasifikasi</p>
        </div>
        <img
          src="{{ url_for('static', filename='arrow.png') }}"
          class="w-8 h-8 object-cover mb-8"
        />
        <div class="flex flex-col gap-2 items-center">
          <div class="p-4 rounded-lg bg-[#f0f7fd]">
            <img
              src="{{ url_for('static', filename='step-4.png') }}"
              alt=""
              class="w-12 h-12 md:w-16 md:h-16 object-cover"
            />
          </div>
          <p class="text-sm">Output Suara/Teks</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-[#f0f7fd] flex flex-col md:flex-row md:justify-between h-fit py-2 md:py-4 px-4 md:px-12 text-sm gap-2 w-full items-center relative"
  >
    <div class="w-full flex flex-row gap-2 z-10 bg-transparent my-8">
      <div class="text-md font-bold">Alvina Putri</div>
      <div class="text-md">5210411243</div>
    </div>
  </div>
</section>
<script>
  const checkbox = document.getElementById("checkbox");
  const savedCheckboxState = localStorage.getItem("PLAYSOUND");
  if (checkbox) {
    checkbox.checked = savedCheckboxState === "true";
    checkbox.addEventListener("change", () => {
      localStorage.setItem("PLAYSOUND", checkbox.checked);
    });
  }
</script>
{% endblock %}
